.wrapper{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.icon{
  position: relative;
  top: 3px;

  &.none{
    opacity: 0;
  }

  &.desc{
    top: 0;
    transform: rotate(180deg);
  }
}