
.singleCard {
  padding-right: 15px;
  padding-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 1px 7px 1px grey;
  margin-bottom: 20px;
}

.cardsImage {
  margin-top: 10px;
  margin-right: 10px;
  width: 438px;
  height: 100px;
  flex: 0 0 auto;
  background: url("/assets/img/face_4.svg") 100% 100%;
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
  border-radius: 10px;

  &.isMale{
    background: url("/assets/img/face_3.svg") 100% 100%;
    background-position: center;
    background-size: cover;
  }
}

.cardsBody {
  margin-bottom: 20px;
  padding-left: 10px;
}

.cardsName {
  margin-bottom: 8px;
  font-family: Adamina;
  font-size: 18px;
  font-weight: 400;
}

.cardsEmail {
  font-family: Adamina;
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 400;
  opacity: 50%;
}

.cardsLine {
  opacity: 50%;
}

.cardsId {
  font-family: Adamina;
  font-size: 15px;
  font-weight: 400;
  opacity: 50%;
}