.wrapper{
  display: flex;
  flex-direction: row;
}

.filter {
  height: 150px;
  flex: 0 0 auto;
}

.header {
  padding-top: 40px;
  padding-left: 40px;
  font-size: 15px;
  font-weight: 700;
  opacity: 40%;
}

.search {
  padding-left: 40px;
  font-size: 15px;
  font-weight: 700;
  opacity: 40%;
}

.searchBar {
  padding: 10px;
}

.sortWrap{
  display: flex;
  align-items: center;
  flex-direction: row;
}


.sort {
  padding-left: 150px;
  font-size: 17px;
  font-weight: 700;
}

.sortItem{
  display: flex;
  padding-left: 100px;
  font-size: 17px;
}

.sortId {
  padding-right: 40px;
  font-size: 17px;
  font-weight: 700;
  opacity: 40%;
  cursor: pointer;
}

.sortName {
  padding-right: 40px;
  font-size: 17px;
  font-weight: 700;
  opacity: 40%;
  cursor: pointer;
}


.sortMail {
  padding-right: 40px;
  font-size: 17px;
  font-weight: 700;
  opacity: 40%;
  cursor: pointer;
}