.filter {
  height: 150px;
  width: 100%;
  flex: 0 0 auto;
}

.header {
  padding-top: 40px;
  padding-left: 40px;
  font-size: 15px;
  font-weight: 700;
  opacity: 40%;
}

.search {
  padding-left: 40px;
  font-size: 15px;
  font-weight: 700;
  opacity: 40%;
}

.searchBar {
  padding: 10px;
}